{{#> layout }}
<div class='content'>
Dear {{ firstName }},
<p>Thank you for confirming your continued interest in participating in the Emergency Health Provider Registry.
  Your registration number is <code>{{{ confirmationId }}}</code> - please keep a copy of this number should you need to revise your information at a later date.</p>
<p><strong>What to expect next…</strong></p>
<p>If/when an emergency arises, health authority or Ministry of Health staff will use the EHPR to match their needs with the skills and preferences of registrants. 
  If and when a match is found you will be contacted.</p>
<p>If you have any questions, please refer to the <a href="https://ehpr.gov.bc.ca/assets/EHPR-FAQs-October-2022.pdf">EHPR Frequently Asked Questions document.</a></p>
- Ministry of Health
</div>
{{/layout}}