<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>EHPR Submission</title>
  <style>
    .body {
      background-color: #ECECEE;
      margin: 0 auto;
    }

    .main {
      margin-left: 0;
      margin-right: 0;
    }

    @media only screen and (min-width: 480px) {
      .main {
        margin-left: 2rem;
        margin-right: 2rem;
      }
    }

    @media only screen and (min-width: 768px) {
      .main {
        margin-left: 5rem;
        margin-right: 5rem;
      }
    }


    .content {
      line-height: 1.5em;
    }

  </style>
</head>

<div class="body">
  <div class="main">
    {{> @partial-block }}
  </div>
</div>

</html>
