@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

.txt-editor {
  overflow-y: scroll;
  resize: vertical;
  min-height: 12.5rem;
  width: auto;
  padding: 4px;
}

@layer base {
  /* Override prose list styles */
  .prose ul,
  .prose ol {
    list-style: revert;
  }

  .prose a {
    color: blue !important;
  }

  .prose h1,
  .prose h2,
  .prose h3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  /* Remove the content from the ::before pseudo-element */
  .prose ul > li::before,
  .prose ol > li::before {
    content: none !important;
  }

  .prose ul > li,
  .prose ol > li {
    padding-left: 0 !important;
  }
}

@layer base {
  @font-face {
    font-family: BCSans;
    src: url('./fonts/BCSans-Regular.woff') format('woff');
  }

  @font-face {
    font-family: BCSans;
    font-weight: 700;
    src: url('./fonts/BCSans-Bold.woff') format('woff');
  }
}

@media (min-width: 768px) {
  .bar-separator > *:not(:last-child)::after {
    content: '|';
    margin: 0 0.5rem;
    color: #fff;
  }
}

/* CAPTCHA loader animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spin 0.5s linear infinite;
}

/* Custom ALTCHA styles */
:root {
  --altcha-border-width: 1px;
  --altcha-border-radius: 3px;
  --altcha-color-base: #ffffff; /* Background color */
  --altcha-color-border: #707070; /* Darker border color for better contrast */
  --altcha-color-text: #333333; /* Darker text color for better contrast */
  --altcha-color-border-focus: #333333; /* Darker focus border color for better contrast */
  --altcha-color-error-text: #d32f2f; /* Slightly darker error text color for better contrast */
  --altcha-color-footer-bg: #e5e5e5; /* Slightly darker footer background for better contrast */
  --altcha-max-width: 260px;
}
.altcha-footer > div {
  color: #1e1e1e;
}
